.header{height: 50%;
    color: rgb(0, 59, 0);
    font-weight: bold;
}

.image{
    width: 75%;
}

body {
    background-color: rgb(229, 255, 229);
    font-family: Verdana, sans-serif;
}

.list-header {
    color: rgb(0, 59, 0);
}